<ion-content class="ion-padding">

  <h1>More Cricket Tools</h1>

  <ion-button
    expand="block"
    routerLink="/batting-average">

    Batting Average Calculator

  </ion-button>

  <ion-button
    expand="block"
    routerLink="/bowling-average">

    Bowling Average Calculator

  </ion-button>

  <ion-button
    expand="block"
    routerLink="/bowling-economy">

    Bowling Economy Calculator

  </ion-button>

  <ion-button
    expand="block"
    routerLink="/bowling-strike-rate">

    Bowling Strike Rate Calculator

  </ion-button>

  <ion-button
    expand="block"
    routerLink="/over-run-rate">

    Run Rate (Over) Calculator

  </ion-button>

</ion-content>
