<ion-content class="ion-padding">

  <h1>Strike Rate Calculator</h1>

  <ion-item>
    <ion-input
      type="number"
      placeholder="Enter Runs"
      [(ngModel)]="runs">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      type="number"
      placeholder="Enter Balls"
      [(ngModel)]="balls">
    </ion-input>
  </ion-item>

  <ion-button
    expand="block"
    (click)="calculateStrikeRate()">

    Calculate Strike Rate

  </ion-button>

  <h2>{{ result }}</h2>

</ion-content>
