<ion-content class="ion-padding">

  <ion-button
    expand="block"
    (click)="toggleTheme()">

    Toggle Theme

  </ion-button>

  <h1>Cricket Calculator App</h1>

  <div class="nav-buttons">

    <ion-button
      expand="block"
      routerLink="/strike-rate">

      Strike Rate Calculator

    </ion-button>

    <ion-button
      expand="block"
      routerLink="/run-rate">

      Net Run Rate Calculator

    </ion-button>

    <ion-button
      expand="block"
      routerLink="/dls">

      DLS Calculator

    </ion-button>

    <ion-button
      expand="block"
      routerLink="/tools">

      More Tools

    </ion-button>

  </div>

</ion-content>
